任务 1.2
统计每个大类商品的销售金额。

In [52]:
import pandas as pd

sale = pd.read_csv('/Users/dingjiadong/Desktop/uber/task1_1.csv')

In [53]:
sale_rst = sale[['大类名称','销售金额']].groupby('大类名称').sum()
sale_rst.to_csv('/Users/dingjiadong/Desktop/uber/task1_2.csv')

任务 1.3 统计每个中类商品的促销销售金额和非促销销售金额 。

In [54]:
sale_rst3 = sale[['中类名称','是否促销','销售金额']].groupby(by=['中类名称','是否促销']).sum()
sale_rst3

                销售金额
中类名称   是否促销
一次性用品  否      727.30
       是       70.90
不锈钢餐具  否       37.00
个人卫生用品 否       47.20
中式熟菜   否       46.48
...              ...
鸡产品    否      358.59
       是     2937.85
鸭产品    否       29.39
       是      234.58
黄酒     否      531.60

[298 rows x 1 columns]

In [55]:
sale_rst3.to_csv('/Users/dingjiadong/Desktop/uber/task1_3.csv')

任务 1.4
统计生鲜类产品和一般产品的每周销售金额。

In [76]:
import pandas as pd

In [77]:
sale = pd.read_csv('/Users/dingjiadong/Desktop/uber/task1_1.csv')

In [78]:
wk_sale = sale.drop(sale[sale['商品类型'] == '联营商品'].index)

In [79]:
wk_sale['销售日期'] = pd.to_datetime(wk_sale['销售日期'], format='%Y%m%d')

In [80]:
wk_sale.set_index(wk_sale['销售日期'],inplace=True)

In [81]:
wk_sale = wk_sale.groupby([pd.Grouper(freq='W'),'商品类型'])['销售金额'].sum()

In [82]:
wk_sale.to_csv('/Users/dingjiadong/Desktop/uber/task1_4.csv')